@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-accent: #EE626A;
    --color-primary: #0171F8;
    --color-secondary: #008AF8;
}

body * {
    transition: all .3s;
}

.navbar {
    /* position: absolute;
    top: 40px;
    left: 0; */
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
}

.nav-link {
    border-radius: 20px;
    font-weight: 300;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    padding-left: 17px;
    padding-right: 17px;
    color: white;
}

.nav-link.active, .nav-link:hover:not(.disabled) {
    background-color: var(--color-secondary);
}

.main-banner h6 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.main-banner h2 {
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.main-banner p {
    font-size: 14px;
    line-height: 28px;
}

.search {
    margin-bottom: 100px;
    position: relative;
    white-space: nowrap;
}
.search * {
    position: absolute;
    @apply py-3 px-6 rounded-3xl;
}

.search button {
    right: 0;
}

.banner-sale {
    @apply bg-accent rounded-full text-white font-bold text-center;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    position: absolute;
    bottom: -5%;
    left: -5%;
    font-size: 1.3rem;
}

.banner-price{
    @apply bg-primary rounded-xl px-3 py-1 text-white font-bold text-center;
    position: absolute;
    top: 5%;
    left: 70%;
    font-size: 1.3rem;
}

.feature-card{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    
}

.feature-card:hover div{
    background-color: var(--color-accent);
}

.product-card:hover .product-card-icon, .product-card:hover .product-card-button{
    @apply bg-primary;
}

.product-card:hover .product-card-title {
    @apply text-primary;
}



